<div id="<%= dom_id partie %>">
  <p>
    <strong>Nom:</strong>
    <%= partie.nom %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= partie.prix %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= partie.stock %>
  </p>

  <p>
    <strong>Voiture:</strong>
    <%= partie.voiture_id %>
  </p>

</div>
