<div id="<%= dom_id commande %>">
  <p>
    <strong>Partie:</strong>
    <%= commande.partie_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= commande.date %>
  </p>

  <p>
    <strong>Fournisseurs:</strong>
    <%= commande.fournisseur_id %>
  </p>

  <p>
    <strong>Transporteur:</strong>
    <%= commande.transporteur_id %>
  </p>

</div>
