<h1>Bienvenue au Garage!</h1>
<p>Bienvenue sur notre site de gestion de garage.</p>

<ul>
  <li><%= link_to 'Garages', garages_path %></li>
  <li><%= link_to 'Voitures', voitures_path %></li>
  <li><%= link_to 'Propriétaires', proprietaires_path %></li>
  <li><%= link_to 'Employés', employes_path %></li>
  <li><%= link_to 'Services', services_path %></li>
  <li><%= link_to 'Parties', parties_path %></li>
  <li><%= link_to 'Fournisseurs', fournisseurs_path %></li>
  <li><%= link_to 'Transporteurs', transporteurs_path %></li>
  <li><%= link_to 'Commandes', commandes_path %></li>
  <li><%= link_to 'Infos Commandes', info_commandes_path %></li>
</ul>

