<div id="<%= dom_id info_commande %>">
  <p>
    <strong>Commande:</strong>
    <%= info_commande.commande_id %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= info_commande.details %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= info_commande.statut %>
  </p>

  <p>
    <strong>Raison retard:</strong>
    <%= info_commande.raison_retard %>
  </p>

</div>
