<div id="<%= dom_id proprietaire %>">
  <p>
    <strong>Nom:</strong>
    <%= proprietaire.nom %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= proprietaire.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= proprietaire.telephone %>
  </p>

  <p>
    <strong>Voiture:</strong>
    <%= proprietaire.voiture_id %>
  </p>

</div>
