<div id="<%= dom_id fournisseur %>">
  <p>
    <strong>Nom:</strong>
    <%= fournisseur.nom %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= fournisseur.adresse %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= fournisseur.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= fournisseur.email %>
  </p>

</div>
