<div id="<%= dom_id voiture %>">
  <p>
    <strong>Numero immatriculation:</strong>
    <%= voiture.numero_immatriculation %>
  </p>

  <p>
    <strong>Couleur:</strong>
    <%= voiture.couleur %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= voiture.statut %>
  </p>

  <p>
    <strong>Anee:</strong>
    <%= voiture.anee %>
  </p>

  <p>
    <strong>Marque:</strong>
    <%= voiture.marque %>
  </p>

  <p>
    <strong>Garage:</strong>
    <%= voiture.garage_id %>
  </p>

</div>
